.friend-list{
    padding-left: 0px;
}

.item{
    display: flex;
    align-items: center;    
    gap: 20px;       
    margin-bottom: 5px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.online{
    background-color: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.offline{
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}